<html>
  <head>
    <title>Lingua - Home</title>
    <link rel="stylesheet" type="text/css" href="js/theme.css">
  </head>
  <body>
    <div class="articles">
    {{#each articles as |a| ~}}
    <li class="article"><a href="article/{{a.id}}">{{a.title}}</a></li>{{/each}}
    </div>
  </body>
</html>
